<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Shopping Index</title>
</head>
<body>
<div class="container">
	<div>
		<div class="row justify-content-center">
			<h1>Shopping List</h1>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-4">
		<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
				<th scope="col">name</th>
				<th scope="col">created date</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="shopping : ${shoppings}">
              <td>
                  <a th:href="@{/shopping/__${shopping.id}__}" th:text="${shopping.name}"/></a>
              </td>
              <td th:text="${shopping.createddate}"/>
            </tr>
		</tbody>
	</table>
	<a th:href="@{/shopping/form}">Create new Shopping...</a>
	<div>
		<div class="row justify-content-center">
			<nav aria-label="Pagination" th:if="${shoppings.totalPages gt 0}">
				<ul class="pagination justify-content-center font-weight-bold">
					<li class="page-item"
						th:classappend="${shoppings.number eq 0} ? 'disabled'"><a
						class="page-link"
						th:href="@{/shopping?page={id}&size=2(id=${shoppings.number lt 2 ? 1 : shoppings.number})}"
						aria-label="Previous" title="Previous Page" data-toggle="tooltip">
							<span aria-hidden="true">&laquo;</span>
					</a></li>
					<li class="page-item"
						th:classappend="${i eq shoppings.number + 1} ? 'active'"
						th:each="i : ${#numbers.sequence( 1, shoppings.totalPages, 1)}">
						<a class="page-link" th:href="@{/shopping?page={id}&size=2(id=${i})}"
						th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
					</li>
					<li class="page-item"
						th:classappend="${shoppings.number + 1 eq shoppings.totalPages} ? 'disabled'">
						<a class="page-link"
						th:href="@{/shopping?page={id}&size=2(id=${shoppings.number + 2})}"
						aria-label="Next" title="Next Page" data-toggle="tooltip"> <span
							aria-hidden="true">&raquo;</span>
					</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
		</div>
	</div>
</div>
</body>
</html>